# Python junk
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Node.js / React
node_modules/
pickup_frontend/node_modules/

# Node
node_modules/

# VSCode settings
.vscode/
